@model BaiKiemTra02.Models.LopHoc

@{
    ViewData["Title"] = "Xóa lớp học";
}

<h1>Xóa lớp học</h1>

<h4>Bạn có chắc chắn muốn xóa lớp học này không?</h4>
<div>
    <h5>Lớp Học</h5>
    <dl class="row">
        <dt class="col-sm-2">Tên Lớp Học</dt>
        <dd class="col-sm-10">@Model.TenLopHoc</dd>

        <dt class="col-sm-2">Năm Nhập Học</dt>
        <dd class="col-sm-10">@Model.NamNhapHoc</dd>

        <dt class="col-sm-2">Năm Ra Trường</dt>
        <dd class="col-sm-10">@Model.NamRaTruong</dd>

        <dt class="col-sm-2">Số Lượng Sinh Viên</dt>
        <dd class="col-sm-10">@Model.SoLuongSinhVien</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Trở về danh sách</a>
    </div>
</form>