@model BaiKiemTra02.Models.LopHoc

@{
    ViewData["Title"] = "Thêm lớp học mới";
}

<h1>Thêm lớp học mới</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="TenLopHoc" class="control-label"></label>
        <input asp-for="TenLopHoc" class="form-control" />
        <span asp-validation-for="TenLopHoc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NamNhapHoc" class="control-label"></label>
        <input asp-for="NamNhapHoc" class="form-control" type="number" />
        <span asp-validation-for="NamNhapHoc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NamRaTruong" class="control-label"></label>
        <input asp-for="NamRaTruong" class="form-control" type="number" />
        <span asp-validation-for="NamRaTruong" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SoLuongSinhVien" class="control-label"></label>
        <input asp-for="SoLuongSinhVien" class="form-control" type="number" />
        <span asp-validation-for="SoLuongSinhVien" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Thêm mới" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Trở về</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}