
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@model TheLoai
<div class="container">
    <h3>Xóa thể loại</h3>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" asp-action="DeleteConfirm">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <lable asp-for="Name">Tên thể loại </lable>
            <input asp-for="Name" type="text" disabled class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <lable asp-for="DateCreated">Ngày tạo </lable>
            <input asp-for="DateCreated" type="date" disabled class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Huy</a>
    </form>
</div>