
@{
    ViewData["Title"] = "Index";
}
<header>
    <h2>GIỚI THIỆU</h2>
</header>
<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <tr>
                <th>STT</th>
                <th>Mã số sinh viên</th>
                <th>Tên sinh viên</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1822041106</td>
                <td>Trần Nguyên Khoa</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1822041128</td>
                <td>Nguyễn Hoài Nam</td>
            </tr>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Tran Nguyen Khoa - @DateTime.Now.Year</p>
</footer>


