@model Author
<div>
    <h1>Chi tiết tác giả</h1>
    ID: <b>@Model.AuthorId</b> <br />
    Tên tác giả: <b>@Model.AuthorName</b> <br />
    Quốc tịch: <b>@Model.Nationality</b> <br />
    Năm sinh: <b>@Model.BirthYear</b>
</div>
