﻿
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@model NhaCungCap
<div class="container">
    <h3>Xóa thể loại</h3>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" asp-action="DeleteConfirm">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <lable asp-for="Name">Tên </lable>
            <input asp-for="Ten" type="text" disabled class="form-control" />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </div>

        <div class="form-group">
            <lable asp-for="DiaChi">Địa Chỉ</lable>
            <input asp-for="DiaChi" type="DiaChi" disabled class="form-control" />
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>

        <div class="form-group">
            <lable asp-for="SDT">SDT</lable>
            <input asp-for="SDT" type="date" disabled class="form-control" />
            <span asp-validation-for="SDT" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Huy</a>
    </form>
</div>