

@model NhaCungCap
<div>
    <h2>Nhà Cung Cấp</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên Nhà cung cấp
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt class="col-sm-2">
            SDT
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="NhaCungCap" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="NhaCungCap" asp-action="Index">Back to List</a>
</div>
