@model Book
<div>
    <h1>Chi tiết sách</h1>
    ID: <b>@Model.BookId</b> <br />
    Tiêu đề sách: <b>@Model.Title</b> <br />
    Năm xuất bản: <b>@Model.PublicationYear</b> <br />
    Tác giả: <b>@Model.Author.AuthorName</b>
</div>
