@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng Nhập";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm" style="width: 400px;">
        <h1 class="h5 text-center">@ViewData["Title"]</h1>
        <p class="text-center text-muted">Dùng Tài Khoản Của Bạn</p>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

            <div class="mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Nhập email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Nhập Mật Khẩu" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button id="login-submit" type="submit" class="btn btn-primary w-100">Sign In</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
